.CharacterList{
    display: grid;
    place-items: center;
    width:100%;
    min-height: 100vh;
    height:100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: slategray
}

.CharacterList div{
    margin:2%;
}